[Desktop Entry]
Encoding=UTF-8
Version=
Name=Machinekit Stepconf Wizard
Name[de]=Machinekit Stepconf Wizard
Name[es]=Machinekit Stepconf Wizard
Name[fi]=Machinekit Stepconf Wizard
Name[fr]=Machinekit Stepconf Wizard
Name[hu]=Machinekit Stepconf Wizard
Name[it]=Machinekit Stepconf Wizard
Name[ja]=Machinekit Stepconf Wizard
Name[pl]=Machinekit Stepconf Wizard
Name[pt]=Machinekit Stepconf Wizard
Name[pt_BR]=Machinekit Stepconf Wizard
Name[ro]=Machinekit Stepconf Wizard
Name[ru]=Machinekit Stepconf Wizard
Name[sk]=Machinekit Stepconf Wizard
Name[sr]=Machinekit Stepconf Wizard
Name[zh_CN]=Machinekit Stepconf 向导
Name[zh_TW]=Machinekit Stepconf 嚮導
GenericName=CNC setup software
GenericName[zh_CN]=CNC 设置软件
GenericName[zh_TW]=CNC 設置軟件
Comment=Stepconf Configuration Wizard
Comment[zh_CN]=Stepconf 配置向导
Comment[zh_TW]=Stepconf 配置嚮導
Type=Application
Exec=/usr/bin/stepconf
Icon=machinekiticon
X-GNOME-DocPath=
Terminal=false
Comment=Stepconf Configuration Wizard
StartupNotify=false
Categories=X-CNC;
