[Desktop Entry]
Encoding=UTF-8
Version=
Name=Latency Test
Name[de]=Latency Test
Name[es]=Latency Test
Name[fi]=Latency Test
Name[fr]=Latency Test
Name[hu]=Latency Test
Name[it]=Latency Test
Name[ja]=Latency Test
Name[pl]=Latency Test
Name[pt]=Latency Test
Name[pt_BR]=Latency Test
Name[ro]=Latency Test
Name[ru]=Latency Test
Name[sk]=Latency Test
Name[sr]=Latency Test
Name[zh_CN]=延迟测试
Name[zh_TW]=延遲測試
GenericName=CNC test tools
GenericName[zh_CN]=CNC测试工具
GenericName[zh_TW]=CNC測試工具
Comment=Determine your machine's latency
Comment[zh_CN]=确定机器的延迟
Comment[zh_TW]=確定機器的延遲
Type=Application
Exec=/usr/bin/latency-test
Icon=machinekiticon
X-GNOME-DocPath=
Terminal=false
StartupNotify=false
Categories=X-CNC;
